@charset "utf-8";
a {
    color: #337ab7;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

body {
    font-family: 'Nunito-Bold', '微软雅黑';
}

/*  main部分  */
#a1, #a2, #a3, #a4, #a5 {
    width: 100%;
    margin: 0 auto;
    line-height: 1.5em;
    padding: 1em 25%;
    text-align: justify;
    box-sizing: border-box;
}

#a1 {
    padding-top: 80px;
}

article {
    margin-bottom: 30px;
}

article h4 {
    margin-bottom: 1em;
    font-weight: bold;
}

article li {
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    width: 100%;
}

article li a {
    text-decoration: none;
    color: #111;
    width: 100%;
    display: block;
    border-bottom: 1px solid #ccc;
}

article li:hover a {
    text-indent: 20px;
    color: #00cfbd;
    border-bottom: 1px solid #00cfbd;

    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
}

::selection {
    color: #d80d55;
}

::-moz-selection {
    color: #d80d55;
}
